#wrap {
  position: absolute;
  width: 90%;
  height: 90%;
  border: 1px solid green;
}
#startTime,
#Submit,
#goBack,
#clear {
  background-color: red;
  font-size: 25px;
  color: white;
}
#startTime {
  margin-right: 500px;
}
#goBack {
  position: relative;
  top: 30%;
  left: 55%;
  width: auto;
  margin: 30px
}
#clear {
  position: relative;
  top: 30%;
  right: 5%;
  text-align: center;
}
#questionsDiv,
#createDiv {
  margin: 20px;
}
#time {
  float: right;
}
textarea {
  width: 89%;
  margin: 18px;
}
label {
  margin-right: 9px;
}
input {
  margin-bottom: 24px;
  width: 49%;
  border: 1px solid lightgray;
}
h1 {
  text-align: center;
}
li {
  background-color: green;
  margin-top: 10px;
  padding: 5px 15px;
  width: 80%;
  font-size: 18px;
  color: white;
}

@media screen and (max-width: 786px) {
  body {
    max-width: 786px;
  }
  #wrap {
    left: 21%;
    position: absolute;
  }
  a {
    margin-left: 22%;
  }
  #goBack {
    left: 50%;
    position: relative;
  }
  #clear {
    right: 10%;
    position: relative;
  }
}

@media screen and (max-width: 640px) {
  body {
    min-width: 640px;
  }
  #wrap {
    left: 10%;
    position: absolute;
  }
  a {
    margin-left: 10%;
  }
}